/*===========================================================Project CSS=============================================================*/
body{
    background: #4F518C;
}
/* HEADER ============================== */

/* ABOUT ============================== */
#about{
    margin: 1.875rem 15rem;
    padding: 1.875rem;
}
#about h1{
    margin-top: 0;
}
#about div{
    background: rgba(218, 191, 255, .9);
    padding:1.25rem;
    margin: 0;
}

#bg:first-child{
    height: 19rem;
    background: url("../images/bg.png") no-repeat;
}

#about img{
    height: 200px;
    float: left;
    margin-right: 1.25rem;
}

#about p{
    padding: 1.875rem 1.125rem;
    font-size: 1.25rem;
}
/* COMPONENTS ============================== */
#comp{
    margin:0 15rem 1.875rem 15rem;
    padding: 0 1.875rem 1.875rem 1.875rem;

}

h1{
    clear: both;
}
article {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    padding: 1.875rem;
    background: #DABFFF;
}

article img{
    width: 800px;
}